{
    "presets": [
        "@babel/react",
        [ "@babel/env", { "modules": false } ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "babel-plugin-styled-components",
        "@babel/external-helpers"
    ],
    "ignore": [
        "node_modules",
    ]
}